<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Foodbank</title>
    <meta charset="utf-8">
    <link href="css/main.css" rel="stylesheet">
</head>

<body>
    <a href="/"><h1>Foodbank</h1></a>
    <main>
        <h2>Results for {{zip}}</h2>
        <ul class="listings">
            
            {{#each listings}}
            <li>
                <p>{{this.name}}</p>
            </li>
            {{else}}
            <p>No results found for this query</p>
            {{/each}}
        </ul>
    </main>
</body>

</html>